*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
.navbar{
    display: flex;
    align-items: center;
     justify-content: space-between;
     padding:20px 100px ;
  margin: 0;
}
.nav_logo{
    display: inline-flex;
    align-items: center;
    width:50%;
}


.nav_menu{
    display: flex;
}

.nav_menu ul{
    display: flex;
    width: 100%;
  
    list-style: none;
    justify-content: space-between;
    align-items: center;
    padding: 8px 15px 8px 15px;
   
    /* margin-right: 217px; */


}
.nav_menu ul li{
display: flex;
justify-content: space-around;
padding:0 10px ;
font-size: 25px;
color: white;


}
.nav_menu ul li a{
    text-decoration: none;
    color: white;
}
.nav_menu ul li a:hover{
    text-decoration: underline;

}
.nav_btn button{
    border: 2px solid #0056eb ;
    border-radius: 40px;
    padding: 8px 20px 8px 20px;
    background:#1E71FF;
    color: white;
    font-size: 18px;
}