*{
    margin: 0;
    padding: 0;
   
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
}
.container{
    background: #4070F4 ;
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.form{
    max-width: 430px;
    width: 100%;
    padding: 30px;
    background:#fff;
    border-radius: 6px;
     
}
header{
    font-size: 28px;
    font-weight: 800;
    text-align: center;
}

form{
    margin-top: 30px;
}
form .field{
    position: relative;
    height: 45px;
    width: 100%;
      margin-top: 30px;
}
.input-field input,
.field button{
    width: 100%;
    height: 100%;
    border: none;
    font-size: 15px;
    font-weight: 400;
    border-radius: 4px;
    
}

.input-field input{
    border: 1px solid  #cacaca;
    padding: 0 17px;
}
.form-link{
    text-align:center;
    margin-top: 20px;
}
.form-link a{
    text-decoration: none;
    color:#4070F4;
}
.form-link a:hover{
    text-decoration: underline;
}
.field button:hover{
    background: #4070F4;
    color: #fff;
    }