
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
.container{
    /* border: 2px solid black; */
    width: 640px;
    height: 194px;
     padding: 40px 32px;
}
.header span h1{
    width: 138px;
    background: black;
    color: white;
}
.header h2 p{
    padding-top:10px;
}